* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

li {
    /* border: 1px solid red; */
    position: relative;
    margin: 1rem 0;
}

label {
    display: inline-block;
}

.textinput, button {
    width: 100%;
}

.textinput {
    padding: 20px 7px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    background: black;
    padding: 9px 0;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

.gender {
    text-align: left;
    display: inline-block;
    margin: 1rem;
}

.form-wrapper {
    letter-spacing: 0.5px;
    /* border: 1px solid blue; */
    padding: 10rem;
    width: 340px;
    margin: 0 auto; 
}

.form-list {
    list-style: none;
    /* border: 1px solid red; */
}

.btn-li {
    text-align: center;
    margin-top: 2rem;
}

/* Labels */

.textlabel-click {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 12px;
    opacity: 1;
}

.textlabel {
    position: absolute;
    top: 13px;
    left: 8px;
    font-size: 16px;
    opacity: 0.5;
}



.gender label, .terms-li label {
    margin-left: 0.5rem;
    vertical-align: middle;
}

.gender input, .terms-li input {
    margin-left: 0.5rem;
    vertical-align: middle;
}

/* Animation Label */
