* {
    margin: 0;
    padding: 0;
    font-family: "Nunito";
    /* box-sizing: border-box; */
}

li {
    /* border: 1px solid red; */
    position: relative;
    margin: 2rem 0;
}

label {
    display: inline-block;
}

.label {
    transition: 0.3s;
}

.textinput, button {
    width: 100%;
}

.textinput {
    padding: 20px 7px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.textinput:focus {
    filter: drop-shadow(0 0 3px blue);
}

.error {
    filter: drop-shadow(0 0 3px red);
}

button {
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    background: black;
    padding: 9px 0;
    border-radius: 10px;
}

button:hover {
    opacity: 0.7;
}

.gender {
    text-align: left;
    display: inline-block;
    margin: 1rem;
}

.terms, .gender {
    font-weight: bold;
} 

.form-wrapper {
    background: rgba(255, 248, 220, 0.3);
    letter-spacing: 0.5px;
    /* border: 1px solid blue; */
    padding: 3rem 5rem;
    width: 370px;
    margin: 5rem auto; 
}

.form-list {
    list-style: none;
    /* border: 1px solid red; */
}

.btn-li {
    text-align: center;
    margin-top: 2rem;
}

.button:active {
    padding: 0;
}

/* Labels */

.textlabel-click {
    color: blue;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 12px;
    opacity: 1;
    z-index: 100;
}

.textlabel {
    position: absolute;
    top: 13px;
    left: 8px;
    font-size: 16px;
    opacity: 1;
    z-index: 100;
    font-weight: 500;
}

.gender label, .terms-li label {
    margin-left: 0.5rem;
    vertical-align: middle;
}

.terms-li {
    margin: 2.2rem 0;
    font-weight: bold;
}
.gender input, .terms-li input {
    margin-left: 0.5rem;
    vertical-align: middle;
}

.error-alert {
    color: red;
    font-weight: bold;
    font-size: 0.75rem;
    position: absolute;
    top: 110%;  
    left: 1%;
}

.heading {
    text-align: center;
}

.star {
    color: red;
}

legend {
    margin-left: 8px;
}

fieldset {
    border-radius: 5px;
}